html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVIGATION */

.navbar a.navbar-brand {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
}

.navbar-nav .navbar-item a {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 1.5rem;
    color: black;
}


h1.name {
    font-family: 'Sansita', sans-serif;
    color: #435334;
    padding: 70px; 
    text-align: center;
    
}

h2 {
    font-family: 'Sansita', sans-serif;
    color: #435334;  
    padding: 70px; 

}


/* ICONS */

.fa-pills {
    font-size: 4rem;
    color: #9EB384;
    align-items: center;
}

.col-lg-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fa-flask {
    font-size: 10rem;
    color: #9EB384;
    align-items: center;
}

.fa-baby {
    font-size: 7rem;
    color: #9EB384;

}

/* IN PROGRESS */

h1.lab {
    font-family: 'Sansita', sans-serif;
    text-align: center;
    padding: 20px;
}

h3 {
    text-align: left;
    text-decoration: underline;
    font-family: 'Sansita', sans-serif;
    color: #435334;
}

p {
    text-align: center;
    padding-top: 20px;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px
}

.colorchange {
    color: #435334;
}



/* DIVIDER */
.divider {
    border: .5px solid #9EB384;
}


/* IMAGES */

.drink {
    height: 300px;
    width: auto;
    padding-bottom: 40px;
}

.labimage {
    height: 400px;
    width: auto;
    padding-bottom:70px;
}

.NHS {
    height: 300px
}

.period {
    height: 200px;
}

.works-box .period {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    object-fit: cover;

}

.works-box .studybuddy {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
}

.works-box .dicelab {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
}
.works-box .wedding {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    width: 100%;
    height: auto;
}

.self {
    height: 300px;
    width: auto;
    padding-bottom: 40px;
}
/* LINK */

.link {
    color:#435334; 
}
.link:hover {
    color: black;
}

.linkF {
    font-family: 'Titillium Web', sans-serif;
    color:#435334; 
}

.linkF:hover {
    color: black;
 
}

.leaves {
    color:#435334; 
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
    font-weight: 400px;
}

.leaves:hover {
    color: black;

}

/* FOOTER */
#footer {
    background-color: wh;
    padding: 1%;
    text-align: left;

}

p.copyright {
    text-align: right;
    color:#435334; 
    font-family: 'Titillium Web', sans-serif;
}


p.contact {
    text-align: left;
    color:#435334; 
    font-family: 'Titillium Web', sans-serif;

}

.fa-brands.fa-figma {
    color:#435334; 
}

p.mail, p.figma {
    text-align: center;
    color:#435334; 
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: .1px;
}

/* EXPERIENCES */
h1.jobtitle {
    font-family: 'Sansita', sans-serif;
    color: #435334;
    font-size: 4.5rem;
    padding: 70px; 
    text-align: left;
    background-color: #FAF1E4;
    text-shadow: #9EB384;
}
h1.cashier {
    font-family: 'Sansita', sans-serif;
    color: #435334;
    padding-top: 50px;
    text-align: left;
    font-size: 5rem;
}

h1.leaves {
    margin: 0px;
    font-family: 'Titillium Web', sans-serif;

}

h2.pro {
    font-family: 'Sansita', sans-serif;
    color: black;
    font-size: 30px
}

/* VOLUNTEER */

.volunteer {
    font-family: 'Sansita', sans-serif;
    color: #435334;
    padding: 70px; 
    text-align: center;
}

h1.help {
    font-family: 'Sansita', sans-serif;
    color: #435334;
    padding-top: 50px;
    text-align: left;
    font-size: 5rem;
}

/* PROJECTS */

h1.projects {
    font-family: 'Sansita', sans-serif;
    color: #435334;
    text-align: center;
    text-decoration: underline;
    padding-top: 40px;
    font-size: 5rem;
}

section.box {
    background-color: #FAF1E4;
    width: 100%;
    padding: 20px;
}

.works {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.works-box {
    width: 300px; 
    margin: 20px; 
    padding: 15px;
    border: 2px solid #435334; 
    background-color: white; 
    text-align: center;
    display: flex;
    align-items: flex-end;
}

h4 {
    font-family: 'Monomaniac One', sans-serif;

}

p2 {
    font-family: 'Afacad', sans-serif;

}

a.works-box {
    background-color:white;
    color: black;
    display: block;
    text-decoration: none;
}

a.works-box:hover {
    background-color: #9EB384;
    text-decoration: none;
    color: black;
}


