
body {
    background-color: #FAF1E4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-decoration-line:overline underline;
    text-decoration-color: #FFE4D6;
    color: #67729D;
    font-size:x-large;
}

