.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  margin: 30px;
  text-shadow: 5px 0 #232931;
  font-size: 2rem;
  font-weight: 500;
  color: yellow;
  font-family: 'Press Start 2P';
  padding: 15px; 
  background-color: orange;
  border-radius: 10px;
  border: 5px solid #ef1f1f;
}

h2, h3 {
  margin: 30px;
  font-size: 2rem;
  font-weight: 300;
  color: #F4CE14;
  font-family: 'GLUTEN';
}


h3 {
  color: #FF7676;
}


p {
  color: #F4CE14;
  font-family: 'Press Start 2P';
  font-size: 12px
  

}

img {
  width: 80%;
  background-color: #FFF5C2;
  border-radius: 30%;
  mix-blend-mode: hard-light;
}


.myBtn {
  margin-bottom: 30px;
  border-radius: 5px;
  font-family: fantasy;
  color: white;
  background-color: red;
  padding: 10px;

  
}

.button {
  background-color:#A3B763
}

footer {
  margin-top: 5%;
  color: white;
  text-align: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
